.MasCon {
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
}

.MasConSec {
    height: 50px;
    width: 100%;
}

.navbarsec-fixed {
    top: 50px;
    z-index: 100;
    position: fixed;
    width: 100%;
}
