
.navbarsec-fixed {
    top: 50px;
    z-index: 100;
    position: fixed;
    width: 100%; 
}
.navbar-fixed-top {
    background-color: #e3e6ec;
    border-bottom-color: #e3e6ec;
}

.lista1 {
    background-color: #e3e6ec;
    float: left;
}

.lista2 {
    background-color: #e3e6ec;
    float: right;
    margin-top: 6px;
    color: midnightblue;
}
    .lista2 li a{
        font-size: 16px;
        color: midnightblue;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .lista2 li:hover {
        transform: translateY(-3px);
        color: lighten(#03c, 15%);
    }

.navbar-toggle:hover{
   background-color:lightblue;
}

/*.navbar-Drugi {
            width: 100%;
            height: 50px;
            background-color: midnightblue;
            border-color: midnightblue;
            border-radius: 0px;
        }

.navDrugi {
    width: 100%;
    height: 50px;
    background-color: midnightblue;
    border-color: midnightblue;
    border-radius: 0px;
   list-style-type: none;
}

 .navDrugi li {
        float: none;
        display: inline-block;
        font-size: 16px;
        text-align: center;
        padding: initial;
        text-decoration: none;
    }
        
    .navDrugi li:hover a:hover {
        color: midnightblue;
        background-color: mediumslateblue;
    }*/